langchain~=0.3.27
langchain-astradb
langchain-huggingface
langchain-groq
langchain-community~=0.3.27
datasets
pypdf
python-dotenv~=1.0.1
pandas~=2.2.3
flask~=3.1.2
prometheus_client
prometheus_client~=0.22.1
langchain-core~=0.3.74
setuptools~=75.1.0